<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Portfolio Home</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
    @{
        <div id="nav">
        <button><a href="/home">Home</a></button>
        <button><a href="/projects">Projects</a></button>
        <button><a href="/contact">Contact</a></button>
        
        </div>
       <div id="bio">
        <fieldset>
       <legend><h1>Inspector Gadget</h1></legend>
       <img src="~/img/gadget.png" alt="Inspector Gadget" height="400px" width="400px">
       <h3>About Me:</h3>
       <p> A bumbling detective who needs lots of help and luck to solve cases assigned by short-tempered Chief Quimby. That help comes from my young, but smart-beyond-her-years niece, Penny, and faithful dog, Brain, who has a human IQ. Our trio relies on high-tech items -- i.e. Penny's watch links to a video communicator in Brain's collar -- and other tools to elude trouble from Dr. Claw of MAD. Despite my shortcomings, i always manage to solve each case.</p>
        </fieldset>
        </div>
    }
    </body>
</html>