<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Portfolio Projects</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
    @{
        <div id="nav">
        <button><a href="/home">Home</a></button>
        <button><a href="/projects">Projects</a></button>
        <button><a href="/contact">Contact</a></button>
        </div>

       <div class="foes">
       <h1>Thwarted Spydra!</h1>
       <img src="~/img/spydra.jpg" alt="Spydra">
       
       <p> A 6-armed villainess in a pink spider-themed costume that hides her face with a mask. Her face is so hideous that anyone who sees her unmasked will turn to stone from the shock.
        Spydra has many evil plans, but they're always foiled by me and my friends.</p>
        </div>


        <div class="foes">
       <h1>Trumped M.A.D Agents!</h1>
       <img src="~/img/MAD_Agents.png" alt="M.A.D Agents">
       
       <p> M.A.D. has many assassins, soldiers, and scientists working for them. Often in disguises that, though flimsy, generally fool Me. The agents usually pull a ruse on me that usually backfires due to Penny and Brain's interference and my accident prone nature.</p>
        </div>


        <div class="foes">
       <h1>Bested Dr. Claw!</h1>
       <img src="~/img/claw.jpg" alt="Dr. Claw and MAD Cat ">
       
       <p>He runs a criminal syndicate called M.A.D. His hideout is usually in an old castle. Even though Dr. Claw has seemingly unlimited resources and riches he still tries to rob banks on occasion but his plans would be foiled in every episode.</p>
        </div>
    }
    </body>
</html>